<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".modelApi.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterfazAndroid"
        tools:targetApi="31">
        <activity
            android:name=".Registro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioDeSesion"
            android:exported="false" />
        <activity
            android:name=".UsuarioFormularioProyecto"
            android:exported="false" />
        <activity
            android:name=".ProyectoRevisadoUsuario"
            android:exported="false" />
        <activity
            android:name=".UsuarioNotificaciones"
            android:exported="false" />
        <activity
            android:name=".UsuarioMenu"
            android:exported="false" />
        <activity
            android:name=".UsuarioEditar"
            android:exported="false" />
        <activity
            android:name=".UsuarioPerfil"
            android:exported="false"/>

        <activity
            android:name=".Administrador.AdministradorRol"
            android:exported="false" />
        <activity
            android:name=".Usuario.DetallesProyecto"
            android:exported="false" />
        <activity
            android:name=".Usuario.NotificacionesUsuario"
            android:exported="false" />
        <activity
            android:name=".Usuario.EditarPerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".Usuario.PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".Usuario.FormularioProyectoUsuario"
            android:exported="false" />
        <activity
            android:name=".Usuario.MenuUsuario"
            android:exported="false" />
        <activity
            android:name=".MenuRegistro.Register"
            android:exported="false" />
        <activity
            android:name=".MenuRegistro.MainActivity"
            android:exported="false" />
    </application>

</manifest>